
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Sidebar */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    color: #545454;
}

.profilePic{
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.panterasLogo{
    width: 80px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.boton{
  margin-left: 180px;
  margin-top: 5px;
  color: white;
  background-color: #343350;
}

.navIcon{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

#sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #343350;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0 20px 20px 0;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #343350;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #343350;
}

#sidebar p{
  text-align: center;
  margin-top: 20px;
}

.top-sidebar ul li {
    padding: 10px;
    font-size: 0.85rem;
    display: block;
    margin-top: 20px;
}

#sidebar.active{
  font-size: 0;
  transition-duration: 0.4s;
  max-width: 90px;
  min-width: 90px;
}

#sidebar.active li{
  font-size: 0;
}

#sidebar.active .btn{
  margin-left: 25px;
}

#sidebar.active .navIcon{
  font-size: 25px;
  margin-left: 20px;
}

#sidebar.active .profilePic {
  width: 70px;
  margin-left: 8px;
  margin-top: 40px;
}

#sidebar.active .panterasLogo{
  position: relative;
  left: 20px;
  width: 60px;
}

#sidebar.active .CTAs{
  background: rgba(0,0,0,0);
  color: #343350;
}

.CTAs{
    background-color: #474665;
    border-radius: 7%;
    margin: 70px 15px 0 15px;
    padding-top: 10px;
    padding-bottom: 1px;
}

ul.CTAs {
    padding: 20px;
}

.CTAs li {
    text-align: left;
    font-size: 0.75em !important;
    display: block;
    border-radius: 5px;
    margin: 5px 0 5px 20px;
}

/* -------------
    General
------------- */

.top-prg{
  float: left;
  padding-top: 2px;
}

h3{
  width: 30%;
  float: left;
}

.top-btn {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

#content{
  padding-left: 17%;
  padding-top: 1.5%;
}

#content.active{
  padding-left: 8%;
}

#content.active #search{
  width: 25%;
}

.checkBx{
  margin-left: 10px;
  margin-right: 5px;
}

.navIconGen{
  font-size: 30px;
  margin-top: 5px;
  margin-left: 25px;
}

.navIconGen:hover{
  cursor: pointer;
}

#search{
  border-radius: 30px;
  margin-left: 25px;
  border:1px solid grey;
}

input[type=text], select {
  padding: 2px 20px;
  outline: none;
}

/* Interactividad de recursos */

.int-container{
  border: 1px solid grey;
  border-radius: 10px;
  width: 70%;
  margin-top: 25px;
  float:left;
}

.int-container .filter{
  float: right;
  font-size: 15px;
  margin-right: 100px;
  margin-bottom: 0;
}

.downFilterBtn{
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-right: 20px;
}

.downFilter{
  font-size: 12px;
}

.int-container h5{
  margin: 10px 0 10px 10px;
  width: 35%;
  float: left;
}

.orderText{
  float: left;
  margin-top: 10px;
  margin-left: 37%;
}

.int-container button{
  float: right;
}

.int-container h6{
  padding: 5px 0 5px 10px;
  border-radius: 9px;
}

.mayor h6{
  background-color: #cff6cf;
  color: #184d47;
}

.menor h6{
  background-color: #ffa5b0;
  color: #900c3f;
}

.external{
  border: 1px solid grey;
  border-radius: 10px;
  width: 46%;
  margin-left: 23px;
  margin-bottom: 20px;
  float: left;
}

.int-elements {
  border: 1px solid grey;
  border-radius: 10px;
  width: 93%;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 11px;
}

.int-subint{
  margin-right: 30px;
  margin-left: 10px;
  height: 10px;
}

#content.active .int-subint{
  margin-left: 15px;
  margin-right: 35px;
}

/* Feed */

.feedContainer{
  float: right;
  width: 26%;
  margin-right: 25px;
  margin-top: 25px;
  border: 1px solid grey;
  border-radius: 10px;
  height: 650px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e4e3e3;
  border-radius: 10px;
  margin: 10px 10px;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 10px;
}

.feedContainer h5{
  width: 50%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.sortFeed{
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 10px;
  margin-top: 10px;
  float: right;
}

.feedField{
  width: 90%;
  border: 1px solid grey;
  border-radius: 10px;
  height: auto;
  margin: auto;
  margin-bottom: 18px;
}

.feedField p{
  margin-left: 10px;
  font-size: 12px;
  line-height: 0.1;
}

.feedFieldTitle{
  height: 25px;
  background-color: #cff6cf;
  border-radius: 10px;
  margin-bottom: 10px;
}

.topSectionStyle1{
  float: left;
  margin-right: 100;
  margin-left: 10px;
  margin-top: 2px;
}

.topSectionStyle2{
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}

/* -------------
Recursos Materiales
------------- */

.topMR h3{
  width: 20%;
}

#PrTable, #PerTable{
  margin-left: 10px;
  margin-right: 5px;
}

.dropdown-menu label{
  margin-right: 10px;
}

/*Tabla*/

.tableMatRes{
  margin-top: 25px;
  margin-right: 25px;
}
